:root{
            --live-indicator-shadow:hsla(0, 79% , 63%, 0.5);
            --rich-black:#111111;
            --rich-black-2:#161920;
            --live-indicator:#ef4444;
            --oxford-blue:rgba(225,225,225,0.08);
            --oxford-blue-2:hsl(218, 39% , 14%);
            --light-azure:#8b5cf6;
            --off-white:hsl(0, 0%, 87%);
            --yellow:hsl(45, 100%, 60%);
            --white:hsl(0, 0%, 100% );
            --azure:#6366f1;


            --ff-inter:"Poppins", sans-serif;

            --section-heading:40px;
            --fs-lg:22px;
            --fs-md:17px;
            --fs-sm:14px;
            --fs-xs:12px;

            --fw-7:700;
            --fw-6:600;
            --fw-5:500;


            --px:120px;
}